@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-de-fundo: #000000;
    --verde: #00FF7F;
    --branco: #afffff;
    --botao-ativo: #A020F0;
    --botao-inativo: rgb(58, 55, 94, 0.5);
    --texto-fundo: rgb(41, 15, 169);
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Jacquard 12', sans-serif;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    text-align: center;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span {
    display: block;
    text-align: center;
}

.botao {
    font-family: 'Jacquard 12', sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
}

.botao:first-child {
    border-radius: 40px 40px 0 0;
}

.botoes {
    display: block;
}

.botao.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--verde);
}

.abas-textos{
    background-color: var(--texto-fundo);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}

.aba-conteudo.ativo{ display:block;
    }

.aba-conteudo{ display: none;
    }

.aba-conteudo-titulo-principal{
        font-size: 28px;
        text-align: center;
    }

.aba-conteudo-titulo-secundario{
        text-align: center;
        color: var(--verde);
        text-transform: uppercase;
    }

.contador{ 
    font-size: 20px;
    text-align: center;
    }

@media screen and (min-width: 768px) {
    .botoes {
     display: flex;
    }

    .botao:first-child {
        border-radius: 40px 0 0 0;
    }

    .botao:last-child {
        border-radius: 0 40px 0 0;
    }
}